# Python関連
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
env/
ENV/
env.bak/
venv.bak/

# Flask関連
instance/
.webassets-cache

# 環境変数ファイル
.env

# IDE関連
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# その他
*.log
.DS_Store

#バックアップファイル
*~

# data ディレクトリ内のファイルを無視
data/*.csv